.about-section {
    display: flex;
}

.blood-donation-img-container {
    width: 150%;
}

.blood-donation-img-container img {
    width: 100%;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }
    .blood-donation-img-container {
        width: 100%;
    }
}
