.rounded-btn {
    width: 12rem;
    height: 12rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 2rem;
    transition: 0.2s ease-out;
}

.rounded-btn:hover {
    background-color: rgba(220,220,220,0.8);
}
